<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!--Brand-->
    <div class="navbar-header">
      <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/" class="navbar-brand">RBI</a>
    </div>
    <!--Main Navigation-->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a routerLink="gear">Gear</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="contact">Contact</a>
        </li>
      </ul>
    </div> <!--End Main Navigation-->

  </div> <!-- End container-fluid-->
</nav>
