
<nav class="navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
    <i class="fa fa-2x fa-thumbs-o-up" aria-hidden="true"></i>
    Us On
    <a href="https://www.facebook.com/rentalbacklineinc/"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-6 text-center">
        <span>&#169; 2017 RBI Backline</span>
      </div>
    </div>
  </div>
</nav>



<!--todo add friends of electroorganic and others links-->


<!--todo add eva swam logos -->
