<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><strong class="rbi-title">RBI</strong> <strong class="bottom-line">Backline</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Professional Backline and Rehearsal Space</h3>
      <h4>Serving The Greater Hampton Roads Area</h4>
    </div>
  </div>
  <div class="row" style="padding-bottom: 3rem;">
    <br>
    <div class="col-xs-12">
      <button class="btn btn-lg pull-right" routerLink="contact">Contact</button>
    </div>
  </div>
</section>
